
body {
  background-color: #395869;
}

/************************ nav bar ************************/

#nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  left: 0;
}

#nav-bar a {
  background-color: rgba(57, 88, 105,0.8);
  padding: 0.6em;
  font-size: 1.2em;
  text-align: center;
  color: floralwhite;
  text-decoration: none;
  transition: 0.2s;
}

#nav-bar a:hover {
  background-color: rgba(57, 88, 105,1);
  transition: 0.2s;
}

/************************ main ************************/

#main {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5em;
  margin: 0 auto;
  width:80%;
}

#projects > h2 {
  text-decoration: underline;
}

a, #main {
  color: #204f69;
}

#about {
  background-image: linear-gradient(#395869, #9abbce);
}
#main > :last-child {
  background-image: linear-gradient(#9abbce,#395869);
}

.block {
  background-color: #9abbce;
  margin: 0.5em;
  padding: 0.5em;
}

h1 {
  text-transform: uppercase;
}

/************************ about ************************/

#about {
  height: 88vh;
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container #profile {
  width: 60%;
  border-radius: 20%;
}

#intro-text {
  color: #e2e2e2;
}

#intro-text > h3 {
  transition: opacity 1s;
}


/************************ projects ************************/

span {
  padding: 3px 5px;
  line-height: 25px;
  border-radius: 5px;
  color: white;
}

/***************************** Icon backgrounds */

.black {
  background-color: black;
}

.db {
  background-color: #13aa52;
}

.electron {
  background-color: #097e95;
}

.dark-blue {
  background-color: #3659a2;
}

.purple {
  background-color: #4a4290;
}

.heroku {
  background-color: #430098;
}

.img-container {
  height: auto;
}


.img-container .snapshot {
  border: none;
  width: 60%;
  height: auto;
  padding: 0.5em;

}

.icon-list {
  padding: 0.5em;
  /* background-color: chartreuse; */
  border-radius: 0.5em;
  margin: 0.75em;
  display: inline-block;
}

.icon-list img {
  max-height: 4em;
  margin: 0.5em 0.5em;
}

#mongo-logo {
  height: 8em;
}
#electron-logo {
  max-width: 200px;
}

hr {
  width: 25%;
}

/************************ contact ************************/

.contact-icon-list img {
  max-height: 2.5em;
}

/************************ > 450px ************************/

@media only screen and (min-width: 450px) {
  #nav-bar {
    display: block;
    text-align: center;
    margin-top: 1em;
  }

  #nav-bar a {
    border-radius: 0.3em;
    padding: 0.5em 0.75em;
    font-size: 1.2em;
    margin: 1em;
  }

  #about {
    margin-top: 41px;
  }

  .img-container #profile {
    max-width: 250px;
  }

}

/************************ V 768 ************************/

@media only screen and (min-width: 768px) {
  .img-container .snapshot {
    width: 531px;
    height: 300px;
  }

}

/************************ V 1024 ************************/

@media only screen and (min-width: 1024px) {
  .img-container .snapshot {
    width: 708px;
    height: 400px;
  }

}
