/************************ shared styles ************************/
body {
  background-color: #c4c4c4;
}

/************************ main ************************/
/************************ main ************************/
/************************ main ************************/
/************************ main ************************/
/************************ main ************************/
#main {
  margin-top: 100px;
  text-align: center;
}

/************************ nav bar ************************/
/************************ nav bar ************************/

@keyframes Bounce {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: 0px;
  }
}

#nav-bar:hover,
#contact:hover {
  background-color: rgba(100, 100, 100, 1);
  transition-duration: 0.2s;
}

#nav-bar,
#contact {
  transition-duration: 0.2s;
}
#nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  height: 4em;
  background-color: rgba(100, 100, 100, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  justify-content: center;
}

#nav-bar a {
  padding: 0.5em;
  font-size: 1.5em;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 100%;
  color: white;
}

.bounce {
  animation: Bounce 2s linear infinite;
}

#nav-bar a:hover {
  opacity: 0.5;
}

/************************ about ************************/
/************************ about ************************/

/************************ projects ************************/
/************************ projects ************************/

#projects {
  padding-bottom: 50px;
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 400px));
  grid-column-gap: 20px;
  justify-content: center;
}

.project-instance {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px;
  padding: 0.5em;
  margin: 1em auto;
}

.icon-list > span {
  padding: 3px 6px;
  margin: 0.5em 0.2em;
  line-height: 20px;
  border-radius: 5px;
  color: white;
  font-size: 0.85em;
  display: inline-block;
}

/************************ Icon backgrounds ************************/
/************************ Icon backgrounds ************************/

.black {
  background-color: black;
}

.db {
  background-color: #13aa52;
}

.electron {
  background-color: #097e95;
}

.dark-blue {
  background-color: #3659a2;
}

.purple {
  background-color: #4a4290;
}

.heroku {
  background-color: #430098;
}

.img-container {
  height: auto;
}

.img-container .snapshot {
  border: none;
  width: 60%;
  height: auto;
  padding: 0.5em;
}

.icon-list {
  border-radius: 0.5em;
  margin: 0.2em;
  display: inline-block;
  opacity: 0.9;
}

.icon-list img {
  max-height: 4em;
  margin: 0.5em 0.5em;
}

/************************ contact ************************/
/************************ contact ************************/

#contact {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgba(100, 100, 100, 0.8);
}

.contact-icon-list img {
  height: 2.5em;
}

.contact-icon-list img:hover {
  opacity: 0.5;
}
.contact-icon-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
