/************************ nav bar ************************/

#nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#nav-bar a {
  background-color: rgba(116, 44, 16,0.9);
  border: none;
  padding: 0.6em;
  font-size: 1.2em;
  text-align: center;
  color: floralwhite;
  text-decoration: none;
  transition: 0.2s;
}

#nav-bar a:hover {
  background-color: rgba(100, 44, 16,1);
  transition: 0.2s;
}

/************************ main ************************/

#main {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: rgba(199, 123, 93,0.55); */
  padding: 0.5em;
}

#about {
  background-image: linear-gradient(white, rgba(89, 164, 77, 0.8));
}
#main > :last-child {
  background-image: linear-gradient(rgba(89, 164, 77, 0.8), white);
}

.block {
  background-color: rgba(89, 164, 77, 0.8);
  margin: 0.5em;
  padding: 0.5em;
}

h1 {
  text-transform: uppercase;
}

/************************ about ************************/

#about {
  height: 95vh;
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container img {
  width: 60%;
  border-radius: 20%;
}

/************************ works ************************/

.img-container {
  height: auto;
}


.img-container iframe {
  border: none;
  width: 80%;
  height: auto;
  padding: 0.5em;

}

.icon-list {
  padding: 0.5em;
  /* background-color: chartreuse; */
  border-radius: 0.5em;
  margin: 0.75em;
  display: inline-block;
}

.icon-list img {
  max-height: 4em;
  margin: 0.5em 0.5em;
}

#mongo-logo {
  height: 8em;
}
#electron-logo {
  max-width: 200px;
}

hr {
  width: 25%;
}

/************************ contact ************************/

.contact-icon-list img {
  max-height: 2.5em;
}

/************************ > 450px ************************/

@media only screen and (min-width: 450px) {
  #nav-bar {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #nav-bar a {
    border-radius: 0.3em;
    padding: .75em 2em;
    font-size: 1.2em;
  }

  #about {
    margin-top: 41px;
  }

  .img-container img {
    max-width: 250px;
  }

  .img-container iframe {
    width: 354px;
    height: 200px;
  }
}

/************************ V 768 ************************/

@media only screen and (min-width: 768px) {
  .img-container iframe {
    width: 531px;
    height: 300px;
  }

}

/************************ V 1024 ************************/

@media only screen and (min-width: 1024px) {
  .img-container iframe {
    width: 708px;
    height: 400px;
  }

}
/************************ footer? ************************/
